body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/imagenes/25c1b03b09ce66f525241186a0e79aee.jpg');
    background-size: cover; 
    background-position:center ; 
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif;
    
}




button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    position: relative; 
    top: 280px; 
}

button:hover {
    background-color: #0056b3;
}
